.LearningRoute__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.LearningRoute__check-answer {
  margin-bottom: 20px;
}

.LearningRoute__translate {
  margin-bottom: 30px;
  font-size: 1.1rem;
  font-weight: 500;
}

.LearningRoute__word {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #3b59ff;
}

.LearningRoute__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LearningRoute__form label,
.LearningRoute__form input {
  width: 280px;
}

.LearningRoute__form label {
  margin-bottom: 10px;
}

.LearningRoute__form input {
  margin-bottom: 20px;
}

.LearningRoute__btn {
  display: grid;
  place-items: center;
  min-height: 50px;
  width: 210px;
  margin: 10px auto;
  background-color: #5a72ff;
  border-radius: 12px;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #f1edff;
}

.LearningRoute__correct-feedback,
.LearningRoute__incorrect-feedback {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.LearningRoute__correct,
.LearningRoute__incorrect,
.LearningRoute__correct-translation {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.LearningRoute__correct {
  font-weight: 600;
  color: #3b59ff;
}

.LearningRoute__incorrect {
  font-weight: 600;
  color: #fa2b2b;
}

.LearningRoute__correct-incorrect-info {
  width: auto;
  font-size: 0.95rem;
}

.LearningRoute__encouragement {
  width: 240px;
  margin-top: 30px;
  font-size: 1rem;
}

@media only screen and (min-width: 700px) {
  .LearningRoute__word {
    font-size: 1.6rem;
  }

  .LearningRoute__form label {
    width: auto;
    margin-bottom: 15px;
  }

  .LearningRoute__form input {
    width: auto;
    margin-bottom: 20px;
  }

  .LearningRoute__btn {
    margin-bottom: 25px;
  }

  .LearningRoute__correct,
  .LearningRoute__incorrect,
  .LearningRoute__correct-translation {
    font-size: 1.3rem;
  }

  .LearningRoute__correct-incorrect-info {
    margin-top: 20px;
    font-size: 1rem;
  }

  .LearningRoute__encouragement {
    font-size: 1.2rem;
    width: 320px;
  }
}
