main {
  margin: 0 auto;
  width: 90%;
  max-width: 420px;
}

.form__section,
.form__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__section {
  align-items: left;
}

.form__footer {
  align-items: center;
}

.form .form__btn {
  display: grid;
  place-items: center;
  height: 35px;
  width: 100px;
  margin: 10px auto;
  background-color: #5a72ff;
  border-radius: 12px;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #f1edff;
}

.RegistrationRoute__text {
  width: 85%;
  margin: 0 auto;
}

.Loading {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 200px;
}

.Fetching {
  display: grid;
  place-items: center;
  min-height: 150px;
}

@media only screen and (min-width: 700px) {
  main {
    max-width: 500px;
  }

  .RegistrationRoute__text {
    margin: 30px auto;
  }

  .form_header {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .form__section {
    margin-bottom: 20px;
  }
}
