main {
  margin: 0 auto;
  width: 90%;
}

.Form__section,
.Form__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Form__section {
  align-items: left;
}

.Form__footer {
  align-items: center;
}

.Form__btn {
  display: grid;
  place-items: center;
  height: 35px;
  width: 100px;
  margin: 10px auto;
  background-color: #5a72ff;
  border-radius: 12px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  color: #f1edff;
}

.RegistrationRoute__text {
  width: 85%;
  margin: 0 auto;
}
