header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #2c2c2c;
  background-image: linear-gradient(to bottom, #c1aeff 5%, #dfd6ff 60%);
}

header img {
  display: none;
}

.Header__primaryText {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 0;
  color: #2c2c2c;
}

.Header .Header__primaryText a:hover,
.Header__primaryText a:visited {
  color: #2c2c2c;
}

.Header__secondaryText {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
}

.Header__login_nav,
.Header__logout {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header__login_nav {
  width: 70%;
}

.Header__logout {
  width: 80%;
}

.Header__login_nav a,
.Header__logout_nav a {
  font-size: 1.1rem;
  font-weight: bold;
  color: #5a72ff;
}

.Header__login_nav a:hover,
.Header__login_nav a:visited,
.Header__logout_nav a:hover,
.Header__logout_nav a:visited {
  font-size: 1.1rem;
  font-weight: bold;
  color: #5a72ff;
}

@media only screen and (min-width: 700px) {
  header {
    flex-direction: row;
    background-image: linear-gradient(to right, #c1affd 10%, #c9bcfd 20%, #d6cbff, #c9bcfd 80%, #c1affd 90%);
  }

  header img {
    display: inline-block;
    width: 150px;
    margin-right: 20px;
    margin-left: 15px;
  }

  .Header__text_container {
    width: 250px;
  }

  .Header__text_container .Header__primaryText {
    text-align: left;
  }

  .Header__login_nav {
    width: 180px;
    margin-left: 70px;
    margin-right: 15px;
  }

  .Header__logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    margin-right: 15px;
  }

  .Header__logout nav {
    width: 100%;
  }

  .Header__logout span,
  .Header__btn div {
    width: 100%;
    text-align: right;
  }
}

@media only screen and (min-width: 1024px) {
  .Header__text_container {
    width: 550px;
  }
}
