.Dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.Dashboard__header h2 {
  font-size: 1.2rem;
}

.Dashboard__btn {
  display: grid;
  place-items: center;
  height: 45px;
  width: 200px;
  margin: 10px auto;
  background-color: #5a72ff;
  border-radius: 12px;
  border: none;
  font-weight: 500;
}

.Dashboard__btn .Dashboard__link {
  font-size: 1.2rem;
  font-weight: 600;
  color: #f1edff;
}

.Dashboard__words_header {
  font-size: 1.3rem;
}

.Dashboard__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-weight: 500;
}

.Dashboard__li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.Dashboard__li:nth-child(even) {
  background-color: #e5ddff;
}

.Dashboard__li:nth-child(odd) {
  background-color: #d0c2fd;
}

.Dashboard__guessed {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.Dashboard__original {
  margin-right: 15px;
  font-size: 1.2rem;
}

.Dashboard__correct-words,
.Dashboard__inocrrect-words {
  font-size: 0.95rem;
}

@media only screen and (max-width: 374px) {
  .Dashboard__guessed {
    width: 148px;
  }

  .Dashboard__original {
    margin-right: 15px;
    font-size: 0.95rem;
    font-weight: 600;
  }

  .Dashboard__correct-words,
  .Dashboard__inocrrect-words {
    font-size: 0.85rem;
  }
}

@media only screen and (min-width: 700px) {
  .Dashboard__guessed {
    width: 200px;
  }

  .Dashboard__btn {
    margin: 40px auto;
  }
}
